* {
    background-color: rgb(215, 245, 245);
    scroll-behavior: smooth;
}

/* nice*/

a.link {
    color: blue;
}

li.list {
    color: green;
}

p {
    color: indigo;
}

.b-head {
    padding: 20px;
    padding-bottom: 55px;
    border: 20px black;
    margin: auto;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: rgb(178, 241, 241);
    height: 60px;
    width: 235px;
}
.s-head {
    padding: 15px;
    border: 20px black;
    margin: auto;
    margin-left: 0px;
    box-sizing: border-box;
    background-color: rgb(178, 241, 241);
    height: 50px;
    width: 135px;
}